<div class="note">
	<table>
		<tr><td><h1><% IF note.title %><% note.title %><% ELSE %><Без заголовка><% END %></h1></td></tr>
		<tr><td>Дата создания: <% note.create_time %></td></tr>
		<tr><td><br></td></tr>
		<tr><td><h3><% note.text %></h3></td></tr>
		<tr><td><br></td></tr>
		<tr><td><% IF note.shared_users %><% FOR user IN note.shared_users %><br><% user %><% END %><% END %></td></tr>
	</table>
</div>